@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@500&family=Sarabun&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}


/************ Nav Start *************/
/*----------------------------------*/
    nav{
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: #3945BA;
        padding: 15px 5%;
        font-family: 'Sarabun', sans-serif;
        font-size: large;
    }
    nav div:nth-child(1){
        display: flex;
        align-items: center;
    }
    nav img{
        width: 150px;
    }
    nav div:nth-child(2){
        display: flex;
        align-items: center;
    }
    nav div:nth-child(2) a{
        color: white;
        text-decoration: none;
        margin-left: 50px;
        letter-spacing: 1.7px;
        position: relative;
        transition: all 0.2s;
    }

    nav div:nth-child(2) a:first-child{
        margin: 0;
    }
    nav div:nth-child(2) a:hover{
        color: #FDD413;
    }
    nav div:nth-child(3){
        display: flex;
        align-items: center;
    }
    nav div:nth-child(3) a,
    #JOIN_US{
        background-color: white;
        padding: 5px 20px;
        text-decoration: none;
        letter-spacing: 1.7px;
        box-shadow: 3px 3px #FDD413;
        transition: all 0.5s;
    }
    nav div:nth-child(3) a:hover,
    #JOIN_US:hover{
        background-color: #FDD413;
        box-shadow: 3px 0px white;
    }
    #nav_menu{
        display: none;
    }
    #nav_menu i{
        color: white;
        font-size: 30px;
        cursor: pointer;
    }
/*----------------------------------*/



/*********** Header Start ***********/
/*----------------------------------*/
    header{
        display: flex;
        position: relative;
        font-family: 'Sarabun', sans-serif;
        color: white;
        padding: 50px 0 100px 0;
    }
    header::before{
        content: "";
        position: absolute;
        width: 100%;
        bottom: -100px;
        z-index: -10;
        background-image: url(Ellipse\ 6.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
        width: 100%;
    }
    header::after{
        content: "";
        position: absolute;
        top: 0;
        z-index: -10;
        width: 100%;
        height: 70%;
        background-color: #3945BA;
    }
    header>div:first-child{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header>div:nth-child(2){
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    header img{
        width: 70%;
    }
    header h1{
        font-size: 40px;
        font-family: 'Cairo', sans-serif;
        text-shadow: 1px 1px #FDD413;
    }
    header p{
        font-family: 'Cairo', sans-serif;
        font-size: 35px;
    }
    header a{
        font-size: 25px;
        padding: 10px 40px;
        letter-spacing: normal;
    }
    #countdown{
        display: flex;
    }
    #countdown div{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        width: 50px;
        overflow: hidden;
        font-family: 'Sarabun', sans-serif;
        margin-left: 20px;
    }
    #countdown span:nth-child(1){
        background-color: white;
        color: black;
        font-size: 20px;
        font-weight: bold;
        display: inline-block;
        text-align: center;
        width: 100%;
        padding: 10px 5px;
    }
    #countdown span:nth-child(2){
        background-color: #B49F52;
        color: black;
        display: inline-block;
        text-align: center;
        width: 100%;
        padding: 5px;
    }
    .header_texture{
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        overflow: hidden;
        z-index: -1;
    }
    .header_texture img{
        width: 100%;
    }
    #left_texture{
        left: 0;
    }
    #left_texture img{
        transform: translate(-65%,0);
    }
    #right_texture{
        right: 0;
    }
    #right_texture img{
        transform: translate(65%,0);
    }
/*----------------------------------*/

/********** Media Queries ***********/
/*----------------------------------*/
    @media only screen and (max-width:786px) {
        nav div:nth-child(2),
        nav div:nth-child(3){
            display: none;
        }
        #nav_menu{
            display: block;
        }
        #menu{
            position: absolute;
            width: 100%;
            height: 70vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            left: 50%;
            top: 0;
            transform: translate(-50%, -130vh);
            background-color: #3945BA;
            z-index: 2;
            padding: 100px 0 0 0;
            transition: all 0.5s ease-out;
        }
        #menu_before{
            content: "";
            position: absolute;
            width: 100%;
            height: 30vh;
            bottom: -30vh;
            left: 0;
            background-color: #3946ba00;
        }
        #menu a{
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 20px;
        }
        #menu a::before,
        #menu a:nth-child(2)::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #8d8d8d;
        }
        #menu a:nth-child(2)::after{
            top: 0;
        }
        #menu i{
            position: absolute;
            top: 30px;
            font-size: 50px;
        }
        header>div:nth-child(1){
            width: 100%;
        }
        header>div:nth-child(2){
            display: none;
        }
    }
/*----------------------------------*/