body{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    width: 100%;
    background-color: aquamarine;
}
nav div:nth-child(1){
    display: flex;
}
nav:nth-child(2){
    display: flex;
    justify-content: flex-end;
}
nav ul{
    margin: 0;
    padding: 0;
}