*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'noto';
    src: url('assets/fonts/NotoSans-Regular.ttf');
}


/* eyes on our hackathon */
.content {
    width: 100%;
    background: #3945ba;
    color: #fff;
  }
.content div{
    margin: 20px;
}

.content h3{
    color: #fdd413;
}

.content span a i{
color: #fdd413;
}

.content span a{
    text-align: center;
    color: #fff;
}

button{
    outline: none;
    border: none;
    color: none;
    background-color: transparent;
}


button:focus{
    outline: none;
}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #E5E5E5;
    margin: 20px;
}

.circle:hover{
    background-color: #dbdbdb;
}

.icons{
    padding: 25px;
}

/* popups */


.popups{
    padding: 50px;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: rgba(229, 229, 229, 0.58);
}

.popups h3{
    text-align: center;
    font-weight: 700;
}

ul{
    margin-top: 20px;
    margin-left: 50px;
}

#close I{
    width: 33px;
    height: 33px;
    color: #cfcfcf;
    margin-bottom: 30px;
}

.skills, .trophy, .calendar{
    display: none;
}
          
          
          
/* map */
    .map{
        height: 300px;
    }


/* footer */
.footer{
    background-color: #3945ba;
    font-family: 'noto', sans-serif;
    color: #fff;
    width: 100%;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.solicode{
    color: #fdd413;
}

.footer img{
    width: 80%;
    height: 80%;
}

/* footer links */
.links, .links a{
    color: #fdd413;
}

.links:hover, .links a:hover{
    font-weight: 600;
    color: #dbb300;
}

a i{
    margin: 10px;
}